doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/styles/externals/bootstrap.min.css")
    block styles
  body
    block content


    script(src="/scripts/externals/jquery-3.1.1.min.js")
    script(src="/scripts/externals/bootstrap.min.js")
    script(src="/scripts/externals/template.js")
    block scripts

